<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocomart</title>
    <link rel="stylesheet" href={% static 'app/css/style.css' %}>
</head>
<body>
    <div class="c">
        <h1 class="heading">Payment <span>Sucessful!!!</span></h1>
        <p>Your payment to grocomart is sucessfull!!</p>
    </div>
    <style>
        .c {
            text-align: center;
            margin: 3rem auto;
        }
        .c .heading{
            font-size: 3rem;
        }
        .c p{
            font-size: 2rem;
        }
    </style>
</body>
</html>