{% extends "app/base.html" %}
{% load static %}

{% block content %}

<section style="margin-top: 84px;" class="reset">
    {% load crispy_forms_tags %}
    <div class="box-container">
        <h2 class="heading">Reset Password</h2>
        <hr>
        <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form|crispy }}                    
            <button class="btn" type="submit">Send email</button>
        </form>
    </div>

</section>
<style>
    .reset{
        text-align: center;
        height: 100vh;
    }
    .reset p{
        font-size: 1.8rem;
        
    }
    .reset input[type='email']{
        background-color: #f5f5f5;
        font-size: 1.7rem;
        text-transform: none;
        margin: 3rem 0;
        padding: .7rem;
    }
    .reset label{
        font-size: 1.7rem;
        display: inline-block;
    }
    .reset .btn{
        margin: 0;
    }
</style>
{% endblock content %}