{% extends "app/base.html" %}
{% load static %}

{% block content %}
<section style="margin-top: 84px;" class="reset">
    {% load crispy_forms_tags %}
    <div class="box-container">
        <h2 class="heading">Password Reset Confirm</h2>
        <hr>
        <p>Please enter your new password.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}                    
            <button class="btn" type="submit">Reset Password</button>
        </form>
    </div>

</section>
<style>
     .reset{
        text-align: center;
        height: 100vh;
        display: flex;
        justify-content: center;
    }
     .reset p{
        font-size: 1.8rem; 
    }
     .reset input[type='password']{
        background-color: #f5f5f5;
        font-size: 1.7rem;
        text-transform: none;
        margin: 3rem 0;
        padding: .7rem;
    }
     .reset label{
        font-size: 1.7rem;
        display: inline-block;
    }
     .reset .btn{
        margin: 0;
    }

     .reset ul li{
        padding: 0;
        list-style: none;
        font-size: 1.4rem;
    }
    .reset form{
        text-align: center;
    }
    .reset .error .errorField{
        color: red;
    }
</style>
{% endblock content %}