@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
  --green:#27ae60;
  --dark:#251749;
  --shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
  background:var(--green);
  color:#fff;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6.5rem;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar-track{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar{
	width: 10px;
	background-color: var(--green);
}

body::-webkit-scrollbar-thumb{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--green);
}

section{
  padding:2rem 9%;
  margin-bottom: 1.2rem;
}
input {
    caret-color: var(--green);
}
a:active {
    color: var(--green);
  }
.logo{
    color:var(--dark);
    font-weight: bolder;
    font-size: 3rem;
}
.logo:hover{
    cursor: default;
}
.logo i{
    padding-right: .5rem;
    color:var(--green);
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    background:var(--green);
    color:#fff;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    text-align: center;
    cursor: pointer;
    border-radius: .5rem;
    font-weight: bold;
}

.btn:hover{
    background:var(--dark);    
}
.heading{
    text-align: center;
    color:var(--black);
    text-transform: uppercase;
    padding:1rem;
    font-size: 3.5rem;
    padding-bottom: 2rem;
}

.heading span{
    color:var(--green);
    text-transform: uppercase;
}
.header{
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header.active{
    position: fixed;
    top:0; left: 0; right:0;
    z-index: 10000;
}
.header .btn{
    margin-top: 0;
    padding: .8rem 1.2rem;
}
.header .navbar a{
    padding:.5rem 1.5rem;
    font-size: 2rem;
    border-radius: .5rem;
    color:var(--dark);
    font-weight: bold;
    transition: transform .5s;
}

.header .navbar a:hover{
    font-size: 2.2rem;
    color: var(--green);
}

.header .icons a{
    font-size: 2.5rem;
    color:var(--dark);
    padding-left: 1rem;
}

.header .icons a:hover{
    color:var(--green);
}
#menu-bar{
    font-size: 3rem;
    border-radius: .5rem;
    border:.1rem solid var(--dark);
    padding:.8rem 1.5rem;
    color:var(--dark);
    cursor: pointer;
    display: none;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.home .image{
    flex:1 1 40rem;
    padding-top: 5rem;
}

.home .image img{
    width:100%;
}

.home .content{
    flex:1 1 40rem;
}

.home .content span{
    font-size: 3rem;
    color:#666;
}

.home .content h3{
    font-size: 5rem;
    color:var(--dark);
}
.home .content a{
    font-weight: bold;
}

.category .box-container{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding-top: 1rem;
}

.category .box-container .box{
    border:.1rem solid rgba(0,0,0,.3);
    border-radius: .5rem;
    text-align: center;
    padding:2rem;
    flex:1 1 25rem;
    box-shadow: var(--shadow);
    
}

.category .box-container .box img{
    width: 20rem;
    height: 20rem;
    margin:.5rem 0;
    mix-blend-mode: color-burn;
}
.category .box-container .box img:hover{
    transform: scale(0.95);
}

.category .box-container .box h3{
    font-size: 3.5rem;
    color:var(--black);
}

.category .box-container .box p{
    font-size: 2rem;
    color:#666;
    padding:.5rem 0;
}

.category .box-container .box .btn{
    display: block;
    font-weight: bold;
}

.product .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.product .box-container .box{
    flex:1 1 30rem;
    text-align: center;
    padding:2rem;
    border:.1rem solid rgba(0,0,0,.3);
    border-radius: .5rem;
    overflow: hidden;
    position: relative;
    box-shadow:var(--shadow) ;
}

.product .box-container .box img{
    height: 20rem;
    /* mix-blend-mode: color-burn; */
}
.product .box-container .box img:hover{
    transform: scale(.95);
}

.product .box-container .box .discount{
    position: absolute;
    top:1rem; left: 1rem;
    background:rgba(0,255,0,.1);
    color:var(--green);
    padding:.7rem 1rem;
    font-size: 2rem;
}


.product .box-container .box h3{
    color:var(--dark);
    font-size: 2.5rem;
}

.product .box-container .box .stars i{
    padding:1rem .1rem;
    font-size: 1.7rem;
    color:gold;
}

.product .box-container .box .price{
    font-size: 2rem;
    color:#333;
    padding:.5rem 0;
}

.product .box-container .box .price span{
    font-size: 1.5rem;
    color:#999;
    text-decoration: line-through;
}

.product .box-container .box .quantity{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: .5rem;
}

.product .box-container .box .quantity span{
    padding:0 .7rem;
    font-size: 1.7rem;
}

.product .box-container .box .quantity input{
    border:.1rem solid rgba(0,0,0,.3);
    font-size: 1.5rem;
    font-weight: bolder;
    color:var(--dark);
    padding:.5rem;
    background:rgba(0,0,0,.05);
}

.product .box-container .box .btn{
    display: block;
}
.product .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    border-radius: .5rem;
}
.product .search-container  input{
    display: block;
    padding: 1rem;
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--green);
    text-transform: none;
    margin: 0;
    border: 0.1rem solid rgba(0,0,0,.3);
    width: 35%;
    border-radius: 0.8rem;
}
.product .search-container .btn{
    margin: 0;
    font-size: 1.7rem;
    padding: 1rem;
}
.product #msg{
    font-size: 2.4rem;
    color: var(--dark);
    font-weight: bold;
    text-align: center;
}
/* Contact page */
.contact .box-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 3rem;
    padding: 2rem;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.3);
    box-shadow: var(--shadow);
}
.contact form{
    text-align: center;
    padding:1rem;
    border-radius: .8rem;

}
.contact hr{
    border-top: 1px solid black;
    width: 60%;
}
.contact a{
    color: var(--green);
    text-transform: none;
}
.contact .box-container .info p, .contact .box-container .email-form p{
    padding: 1rem;
    font-size: 1.7rem;
}
.contact form .inputBox{
    color: #f5f5f5;
}
.contact form .inputBox input{
    background-color: #f5f5f5;
    border-radius: .8rem;
    width: 100%;
}

.contact form .inputBox input, .contact form textarea{
    background-color: #f5f5f5;
    padding:1rem;
    font-size: 1.7rem;
    text-transform: none;
    margin:1rem 0;
    border:.1rem solid rgba(0,0,0,.3);
    width: 100%;
    border-radius: .8rem;
}

.contact form textarea{
    height: 20rem;
    resize: none;
    width: 100%;
}
.contact .box-container .email-form{
    width: 50%;
}
.contact .box-container .info{
    width: 50%;
}
.contact .box-container .email-form h1, .contact .box-container .info h1{
    text-align: start;
}

.footer .box-container{
    display: flex;
    gap:1.5rem;
    flex-wrap: wrap;
}

.footer .box-container .box{
    padding:1rem ;
    flex:1 1 22rem;
}
.footer .box-container .box .share a{
    padding:0;
    height:4rem;
    width:4rem;
    color: var(--green);
    font-size: 2.6rem;
    line-height: 4rem;
    text-align: left;
}
.footer .box-container .box .share a:hover{
    color: var(--dark);
}
.footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--dark);
}

.footer .box-container .box p{
    font-size: 1.5rem;
    color:#000;
    padding:.7rem 0;
}
.footer .box-container .box form input[type="email"]{
    width: 60%;
    border:1px solid var(--dark);
    font-size: 1.6rem;
    padding: .8rem 1rem;
    border-radius: .5rem;
    margin-right: .5rem;
}
.footer .box-container .box form .btn{
    margin: 0;
    padding: .8rem 1rem;
    display: inline;
}
.footer .box-container .box .links{
    padding:1rem 0;
}

.footer .box-container .box .links a{
    display: block;
    padding:.5rem 0;
    font-size: 1.7rem;
    color:#333;
}
.footer .box-container .box span{
    font-size: 1.7rem;
    font-weight: bold;
}
.footer .box-container .box .links a:hover{
    text-decoration: underline;
    color:var(--green);
}

.footer .copyright{
    padding:2.5rem 1rem;
    border-top: .1rem solid rgba(0,0,0,.1);
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem;
}

.footer .copyright span{
    color:var(--green);
}

.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:2rem;
}

.review .box-container .box{
    border:.1rem solid rgba(0,0,0,.3);
    box-shadow: var(--shadow);
    border-radius: .5rem;
    padding:2.5rem;
    background: #fff;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.review .box-container .box img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    border:.5rem solid #fff;
}

.review .box-container .box h3{
    color:#fff;
    font-size: 2.2rem;
    padding:.5rem 0;
}

.review .box-container .box .stars i{
    color:gold;
    font-size: 1.5rem;
}

.review .box-container .box .text{
    color:var(--dark);
    line-height: 1.8;
    font-size: 1.6rem;
    padding-top: 4rem;
}

.review .box-container .box::before{
    content: '';
    position: absolute;
    top:-4rem; left: 50%;
    transform:translateX(-50%);
    background:var(--green);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 25rem;
    width: 120%;
    z-index: -1;
}
/* Single product */

.product_s .box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
    background-color: #fff;
    border:.1rem solid rgba(0,0,0,.3);
    border-radius: .5rem;
    padding: 2rem;
    margin-bottom: 7rem;
}
.product_s .box-container .img-box img{
    width: 100%;
    height: auto;
}
.product_s .box-container .img-box{
    width: 420px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product_s .box-container .info-box{
    width: 420px;
    height: 450px;
    padding: 2.4rem;
    border-left: 1px solid var(--dark);
}
.product_s .box-container .info-box h1{
    font-size: 3rem;
}
.product_s .box-container .info-box p{
    font-size: 1.8rem;
}
.product_s .box-container .info-box .price{
    font-size: 2rem;
    color:#333;
    padding:.5rem 0;
}

.product_s .box-container .info-box .price span{
    font-size: 1.5rem;
    color:#999;
    text-decoration: line-through;
}
.product_s .box-container .info-box .dis{
    font-size: 1.5rem;
}
.product_s .box-container .info-box .dis span{
    color: var(--green);
}
.product_s .box-container .info-box .stock{
    color: var(--green);
    font-size:1.3rem ;
}  
.product_s .box-container .info-box .groco{
    font-size: 1.5rem;
}
.product_s .box-container .info-box .groco span{
    color: var(--green);
} 
.product_s .box-container .info-box .quantity{
    display: flex;
    align-items: center;
    justify-content: start;
    padding-top: 1rem;
    padding-bottom: .5rem;
}
.product_s .box-container .info-box .quantity span{
    padding:0.7rem 0;
    font-size: 1.7rem;
}
.product_s .box-container .info-box .quantity input{
    border:.1rem solid rgba(0,0,0,.3);
    font-size: 1.3rem;
    font-weight: bolder;
    color:var(--dark);
    padding:.5rem;
    margin: 0 .5rem;
    background:rgba(0,0,0,.05);
}
.product_s .box-container .info-box .desc{
    color: var(--dark);
    font-size: 1.4rem;
}
.product_s .box-container .info-box .discount span{

    color:var(--green);
    padding:.5rem 0;
    font-size: 1.5rem;
}
.product_s .box-container .info-box .btn{
    display: block;
    width: 70%;
}

/* To the top button */
.toTop{
    background-color: var(--green);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    cursor: pointer;
    display: none;
}
.toTop i{
    font-size: 2rem;
    color: #fff;
    font-weight: bolder;
}
.toTop i:hover{
    color: var(--dark);
}
/* Profile */

.profile hr{
    border: 1px solid var(--green);
    margin: 2rem auto;
    width: 90%;
}
.profile .box-container .heading{
    margin: 0;
    padding: 1rem 0;
    font-size: 3rem;
}
.profile .box-container .personal .p_info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile .box-container .personal .p_info  img{
    width: 20rem;
    height: 20rem;
}
.profile .box-container .personal .p_info div p{
    font-size: 2rem;
    text-align: center;
}
.profile .box-container .personal .p_info div p span{
    font-weight: bold;
}
.profile .box-container .personal .p_info div .e{
    text-transform: lowercase;
}
.profile .box-container .personal .address{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile .box-container .personal .address div{
    text-align: start;
    font-size: 1.8rem;
}
.profile .box-container .personal .address div span{
    font-weight: bold;
    font-size: 2.2rem;
}
.profile .box-container .second{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10%;
}
.profile .box-container .second .order .r{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 1rem 0;
    font-size: 1.6rem;
    padding: .5rem;

}
.profile .box-container .second .order .r p{
    margin: auto;
}
.profile .box-container .second .order .r:first-child{
    border: 1px solid var(--dark);
}


/* Cart css */
.cart .box-container .box-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #f5f5f5; */
    padding: 2rem 3rem;
    font-size: 2rem;
    margin-bottom: 2rem;
    border-radius: .5rem;
    border: 0.1rem solid rgba(0,0,0,.3);
    box-shadow: var(--shadow);
}

.cart .box-container .box-1 span{
    font-weight: bold;
    color: var(--dark);
}
.cart .box-container .box-2{
    box-shadow: var(--shadow);
    border: 0.1rem solid rgba(0,0,0,.3);
    border-radius: .5rem;

}
.cart .box-container .box-2 .row{
    display: grid;
    grid-template-columns:repeat(5, 18.6%);
    gap: 2rem;
    text-align: center;
    /* background-color: #f5f5f5; */
    padding: 2rem 3rem;
    font-size: 1.8rem;
    border-radius: .5rem;
}
.cart .box-container .box-2 .row i{
    background-color: var(--green);
    padding: .5rem;
    color: #fff;
    border-radius: .5rem;
    cursor: pointer;
}
.cart .box-container .box-2 .row p span{
    margin: 0 1rem;
}
.cart .box-container .box-2 .row p{
    margin: auto 0;
}
.cart .box-container .box-2 .row img{
    margin: auto;
}
.cart .box-container hr{
    border-top: 1px solid var(--dark);
}
.cart .empty{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

/* Checkout */
.checkout .box-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
}
.checkout .box-container .box-1{
    border: 0.1rem solid rgba(0,0,0,.3);
    width: 50%;
    padding: 2rem;
    border-radius: .5rem;   
    /* box-shadow: var(--shadow); */

}
.checkout .box-container .box-2{
    width: 50%;
}
.checkout .box-container .box-2 .address p{
    font-size: 1.7rem;
}
.checkout .box-container .box-2 .address {
    padding: 2rem;
    border: 0.1rem solid rgba(0,0,0,.3);
    border-radius: .5rem;
}
.checkout .box-container .box-2 .address .heading{
    font-size: 2.7rem;
    margin: 1rem 0 2rem;
    text-align: start;
    padding: 0;
}
.checkout .box-container .box-1 .heading{
    font-size: 2.7rem;
    margin: 1rem 0 2rem;
    text-align: start;
    padding: 0;
}
.checkout .box-container .box-1 .btn{
    font-size:1.5rem ;
    margin: 1rem 0;
    padding: 1rem;
}
.checkout .box-container .box-1 .items {
    border-radius: .5rem;
    border: 0.1rem solid rgba(0,0,0,.3);
}
.checkout .box-container .box-1 .items .row{
    display: grid;
    grid-template-columns:repeat(4, 22%);
    gap: 2rem;
    text-align: center;
    /* background-color: #f5f5f5; */
    padding: 1rem 3rem;
    font-size: 1.5rem;
    border-radius: .5rem;
}
.checkout .box-container .box-1 .items .row p{
    margin: auto 0;
    font-size: 1.5rem;
}
.checkout .box-container .box-1 .items .row span{
    font-size: 1.2rem;
    color: gray;
    font-weight: bold;
    margin-right: .3rem;
}
.checkout .box-container .box-1 .items hr{
    border-top: 1px solid var(--dark);
}
.checkout .box-container .box-1 .end{
    margin: 2rem 0;
    font-size: 1.7rem;
}
.checkout .box-container .box-1 .end span{
    font-weight: bold;
}
.checkout .box-container .box-2 .shipping-form .heading{
    font-size: 2.7rem;
    text-align: start;
}
.checkout .box-container .box-2 .shipping-form{
    border: 0.1rem solid rgba(0,0,0,.3);
    width: 100%;
    margin: 0;
    padding: 2rem;
    text-align: center;
    border-radius: .5rem;
    
}
.checkout .box-container .box-2 .shipping-form .inputBox{
    font-size: 1.5rem;
    background-color: #f5f5f5;
    padding: 1rem ;
    margin: .5rem 0;
    border: 0.1rem solid rgba(0,0,0,.3);
    border-radius: .8rem;
    width: 100%;
}
.checkout .box-container .box-2 .shipping-form .btn{
    margin: 1rem auto;
}
.checkout .box-container .box-2 .payment{
    text-align: start;
    margin: 2rem 0;
    text-align: center;
    border: 0.1rem solid rgba(0,0,0,.3);
    padding: 2rem;
    border-radius: .5rem;
}
.checkout .box-container .box-2 .payment p{
    font-size: 1.7rem;
    margin: 1rem 0;
}
.checkout .box-container .box-2 .payment p span{
    font-weight: bold;

}

.checkout .box-container .box-2 .payment .heading{
    font-size: 2.7rem;
}



/* About us page */
.about .box-container{

    padding:4rem 2rem;
    border-radius: .5rem;
}
.about .text{
    font-size: 1.7rem;
    padding: 2rem;
    margin: 1rem 0 3rem;
}
.about .text span{
    color: var(--green);
}
.about .text p:first-child{
    font-size: 2.2rem;
}

.about .policy h3{
    font-size: 2rem;
}
.about .policy p{
    font-size: 1.4rem;
}
.about .policy {
    font-size: 1.7=8rem;
    padding: 2rem;
    margin: 1rem 0 3rem;
}
.about .policy a{
    color: var(--green);
    text-transform: none;
}


/* media queries  */

@media(max-width:1200px){

    html{
        font-size: 55%;
    }
    .product_s .box-container{
        flex-direction: column;
    }
    .product_s .box-container .info-box{
        border-top: 1px solid var(--dark);
        border-left: none;

    }
    .product_s .box-container .img-box img{
        width: 80%;
        height: auto;
    }
    .product_s .box-container .img-box{
        width: 80%;
        height: auto;
    }
    .product_s .box-container .info-box{
        width: 100%;
        height: auto;
    }
    .product_s .box-container .info-box .btn{
        width: 100%;
    }
}

@media(max-width:991px){

    .header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

}
@media(max-width:850px){
    .profile .box-container .second .order {
        font-size: 10%;
        width: 90%;
}

}
@media(max-width:650px){
    .cart .box-1 .btn{
        width: 35%;
        padding: 0.8rem 2rem;
    }
    .cart .box-2{
        font-size: 25%;
    }
    .cart .box-2 img{
        width: 75%;
        height: 75%;
    }
    .cart .box-container .box-2 .row i{
        padding: .2rem;
    }
    .cart .box-container .box-2 .row{
        padding: 2rem 1rem;
        gap: .5rem;
    }
    .cart .box-container .box-1{
        padding: 2rem 1rem;
    }
    .cart .box-container .box-2 .row p span{
        margin: 0;
    }
    .product #search{
        width: 80%;
    }
    .checkout .box-container{
        flex-direction: column;
    }
    .checkout .box-container .box-1 , .checkout .box-container .box-2{
        width: 100%;
    }
    .checkout .box-container .box-1 .items .row{
        font-size: 35%;
        padding-left: 1.5rem;
    }
    .checkout .box-container .box-1 img{
        width: 75%;
        height: 75%;
    }
}
@media(max-width:768px){

    #menu-bar{
        display: initial;
    }
    .header .navbar{
        position: absolute;
        top:100%; left: 0; right:0;
        background:var(--dark);
        padding:1rem 2rem;
        display: none;
    }

    .header .navbar.active{
        display: initial;
    }

    .header .navbar a{
        font-size: 2.5rem;
        display: block;
        text-align: center;
        background:#fff;
        padding:1rem;
        margin:1.5rem 0;
    }

    .home .content{
        text-align: center;
    }

    .home .content h3{
        font-size: 4rem;
    }
    .contact .box-container{
        flex-direction: column;
    }
    .contact .box-container .info ,.contact .box-container .email-form{
        width: 100%;
    }
}  
@media(max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }

    .logo{
        font-size: 2.6rem;
    }
   
    .header .icons a:first-child{
        padding: 0;
    }
    .header .icons a:last-child {
        padding: 0 1rem;
    }
    .contact form .inputBox{
        flex-direction: column;
    }
    .contact form .inputBox input, .contact form textarea {
        width: 100%;
    }
    .toTop{
        bottom: 3rem ;
        right: 3rem;
    }
    

}
