{% extends "app/base.html" %}
{% load static %}
{% block content %}
<section class="about" style="margin-top: 63px;">
    <div class="box-container">
    <h1 class="heading">about <span>us</span></h1>
    <div class="top">
    <div class="img_holder">
        <img src={% static 'images/about.jpg' %} alt="">
    </div>
    <div class="text">
        <p>Welcome to <span>Grocomart!</span></p><br>
        <p>We aim to offer our customers a variety of the latest Grocery products. We've come a long way, so we know exactly which direction to take when supplying you with high quality yet budget-friendly products. We offer all of this while providing excellent customer service and friendly support.
        </p><br>
        <p>We always keep an eye on the latest trends in grocery products and put our customer's wishes first. That is why we have satisfied customers all over the world, and are thrilled to be a part of the Grocery products industry.</p><br>
        <p>The interests of our customers are always top priority for us, so we hope you will enjoy our products as much as we enjoy making them available to you.</p>
        </div>
    </div>
    
            
    <div class="policy">
        <h3>Privacy Policy</h3>
        <br>
        <p>This Privacy Policy describes how your personal information is collected, used, and shared when you visit or make a purchase from Grocomart.</p><br>
        <p>When you visit the Site, we automatically collect certain information about your device, including information about your web browser, IP address, time zone, and some of the cookies that are installed on your device.</p><br>
        <p>Additionally, as you browse the Site, we collect information about the individual web pages or products that you view, what websites or search terms referred you to the Site, and information about how you interact with the Site. We refer to this automatically collected information as Device Information.</p><br>
        <p>We collect Device Information using the following technologies: Cookies</p><br>
        <h3>Data Retention</h3><br>
        <p>When you place an order through the Site, we will maintain your Order Information for our records unless and until you ask us to delete this information.</p><br>
        <h3>Changes</h3><br>
        <p>We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal or regulatory reasons.If you have questions and/or require more information, do not hesitate to contact us <a href="">gorocomart07@gmail.com</a>.</p><br>
        <h3>Terms and Conditions</h3>
        <br>
        <p>Welcome to Grcomart These terms and conditions outline the rules and regulations for the use of grocomart's Website.</p><br>
        <p>By accessing this website we assume you accept these terms and conditions in full. Do not continue to use grocomart's website if you do not accept all of the terms and conditions stated on this page.</p><br>
        <h3>Cookies</h3><br>
        <p>We employ the use of cookies. By using (Store Name)'s website you consent to the use of cookies in accordance with (Store Name)'s privacy policy. Most of the modern day interactive websites use cookies to enable us to retrieve user details for each visit.</p><br>
        <p>Cookies are used in some areas of our site to enable the functionality of this area and ease of use for those people visiting. Some of our affiliate / advertising partners may also use cookies.</p><br>
        <h3>License</h3><br>
        <p>Unless otherwise stated, grocomart and/or its licensors own the intellectual property rights for all material on grocomart.</p><br>
        <p>All intellectual property rights are reserved. You may view and/or print pages from (Add URL) for your own personal use subject to restrictions set in these terms and conditions.</p><br>
    
    </div>

</div>
</section>
{% endblock content %}