{% extends "app/base.html" %}
{% load static %}

{% block content %}
<section class="product" id="product" style="margin-top: 83px;" id="vegetable">

    <h1 class="heading">Shop by <span>category</span></h1>
    <h1 class="heading"><span>vegetables</span></h1>
    <div class="box-container">
        

        {% for product in vegetables %}
        <div class="box">
            <span class="discount">-{{product.get_discount|floatformat:0}}%</span>
            <a href={% url 'products' %}{{product.id}} data-title="{{product.name}}"><img src={{product.imageUrl}} alt="" ></a>
            <h3>{{product.name}}</h3>
            <div class="stars">
                <i class="fa fa-star{% if product.averageReview < 0.5 %}-o{% elif product.averageReview >= 0.5 and product.averageReview < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
                <i class="fa fa-star{% if product.averageReview < 1.5 %}-o{% elif product.averageReview >= 1.5 and product.averageReview < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
                <i class="fa fa-star{% if product.averageReview < 2.5 %}-o{% elif product.averageReview >= 2.5 and product.averageReview < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
                <i class="fa fa-star{% if product.averageReview < 3.5 %}-o{% elif product.averageReview >= 3.5 and product.averageReview < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
                <i class="fa fa-star{% if product.averageReview < 4.5 %}-o{% elif product.averageReview >= 4.5 and product.averageReview < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
                <span>({{product.countReview}})</span>
            </div>
            <div class="price"> ₹{{product.d_price|floatformat:2}} /{{product.unit}} <br><span> ₹{{product.o_price|floatformat:2}} /{{product.unit}}</span> </div>
            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="1000" value="1" readonly>
                <span> /{{product.unit}} </span>
            </div>
             <a  class="btn update-cart" data-product="{{product.id}}" data-action="add" >add to cart</a>
        </div>
          
        {% endfor %}
        
    </div>
</section>
<section class="product" id="product" style="margin-top: 50px;" id="fruits">

    <h1 class="heading"><span>fruits</span></h1>
    <div class="box-container">
        

        {% for product in fruits %}
        <div class="box">
            <span class="discount">-{{product.get_discount|floatformat:0}}%</span>
            <a href="{% url 'products' %}{{product.id}}" data-title="{{product.name}}"><img src={{product.imageUrl}} alt="" ></a>
            <h3>{{product.name}}</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price"> ₹{{product.d_price|floatformat:2}} /{{product.unit}} <br><span> ₹{{product.o_price|floatformat:2}} /{{product.unit}}</span> </div>
            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="1000" value="1" readonly>
                <span> /{{product.unit}} </span>
            </div>
            <a href="#" class="btn update-cart" data-product="{{product.id}}" data-action="add">add to cart</a>
        </div>
          
        {% endfor %}
        
    </div>
</section>
<section class="product" id="product" style="margin-top: 50px;" id="dairy">

    <h1 class="heading">dairy <span>Products</span></h1>
    <div class="box-container">
        

        {% for product in dairy %}
        <div class="box">
            <span class="discount">-{{product.get_discount|floatformat:0}}%</span>
            <a href="{% url 'products' %}{{product.id}}" data-title="{{product.name}}"><img src={{product.imageUrl}} alt="" ></a>
            <h3>{{product.name}}</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price"> ₹{{product.d_price|floatformat:2}} /{{product.unit}} <br><span> ₹{{product.o_price|floatformat:2}} /{{product.unit}}</span> </div>
            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="1000" value="1" readonly>
                <span> /{{product.unit}} </span>
            </div>
            <a class="btn update-cart" data-product="{{product.id}}" data-action="add">add to cart</a>
        </div>
          
        {% endfor %}
        
    </div>
</section>
<section class="product" id="product" style="margin-top: 50px;" id="Meat">

    <h1 class="heading"> <span>grains</span></h1>
    <div class="box-container">
        

        {% for product in grains %}
        <div class="box">
            <span class="discount">-{{product.get_discount|floatformat:0}}%</span>
            <a href="{% url 'products' %}{{product.id}}" data-title="{{product.name}}"><img src={{product.imageUrl}} alt="" ></a>
            <h3>{{product.name}}</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price"> ₹{{product.d_price|floatformat:2}} /{{product.unit}} <br><span> ₹{{product.o_price|floatformat:2}} /{{product.unit}}</span> </div>
            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="1000" value="1" readonly>
                <span> /{{product.unit}} </span>
            </div>
            <a  class="btn update-cart" data-product="{{product.id}}" data-action="add">add to cart</a>
        </div>
          
        {% endfor %}
        
    </div>
</section>
<section class="product" id="product" style="margin-top: 50px;" id="Meat">

    <h1 class="heading"> <span>pulses</span></h1>
    <div class="box-container">
        

        {% for product in pulses %}
        <div class="box">
            <span class="discount">-{{product.get_discount|floatformat:0}}%</span>
            <a href="{% url 'products' %}{{product.id}}" data-title="{{product.name}}"><img src={{product.imageUrl}} alt="" ></a>
            <h3>{{product.name}}</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price"> ₹{{product.d_price|floatformat:2}} /{{product.unit}} <br><span> ₹{{product.o_price|floatformat:2}} /{{product.unit}}</span> </div>
            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="1000" value="1" readonly>
                <span> /{{product.unit}} </span>
            </div>
            <a  class="btn update-cart" data-product="{{product.id}}" data-action="add">add to cart</a>
        </div>
          
        {% endfor %}
        
    </div>
</section>
<section class="product" id="product" style="margin-top: 50px;" id="Meat">

    <h1 class="heading"> <span>snacks</span></h1>
    <div class="box-container">
        

        {% for product in snacks %}
        <div class="box">
            <span class="discount">-{{product.get_discount|floatformat:0}}%</span>
            <a href="{% url 'products' %}{{product.id}}" data-title="{{product.name}}"><img src={{product.imageUrl}} alt="" ></a>
            <h3>{{product.name}}</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price"> ₹{{product.d_price|floatformat:2}} /{{product.unit}} <br><span> ₹{{product.o_price|floatformat:2}} /{{product.unit}}</span> </div>
            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="1000" value="1" readonly>
                <span> /{{product.unit}} </span>
            </div>
            <a  class="btn update-cart" data-product="{{product.id}}" data-action="add">add to cart</a>
        </div>
          
        {% endfor %}
        
    </div>
</section>
<section class="product" id="product" style="margin-top: 50px;" id="Meat">

    <h1 class="heading"> edible<span> oils</span></h1>
    <div class="box-container">
        

        {% for product in oils %}
        <div class="box">
            <span class="discount">-{{product.get_discount|floatformat:0}}%</span>
            <a href="{% url 'products' %}{{product.id}}" data-title="{{product.name}}"><img src={{product.imageUrl}} alt="" ></a>
            <h3>{{product.name}}</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price"> ₹{{product.d_price|floatformat:2}} /{{product.unit}} <br><span> ₹{{product.o_price|floatformat:2}} /{{product.unit}}</span> </div>
            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="1000" value="1" readonly>
                <span> /{{product.unit}} </span>
            </div>
            <a  class="btn update-cart" data-product="{{product.id}}" data-action="add">add to cart</a>
        </div>
          
        {% endfor %}
        
    </div>
</section>
<section class="product" id="product" style="margin-top: 50px;" id="Meat">

    <h1 class="heading"> <span>biscuits</span></h1>
    <div class="box-container">
        

        {% for product in biscuits %}
        <div class="box">
            <span class="discount">-{{product.get_discount|floatformat:0}}%</span>
            <a href="{% url 'products' %}{{product.id}}" data-title="{{product.name}}"><img src={{product.imageUrl}} alt="" ></a>
            <h3>{{product.name}}</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price"> ₹{{product.d_price|floatformat:2}} /{{product.unit}} <br><span> ₹{{product.o_price|floatformat:2}} /{{product.unit}}</span> </div>
            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="1000" value="1" readonly>
                <span> /{{product.unit}} </span>
            </div>
            <a  class="btn update-cart" data-product="{{product.id}}" data-action="add">add to cart</a>
        </div>
          
        {% endfor %}
        
    </div>
</section>
{% endblock content %}