{% extends "app/base.html" %}
{% load static %}
{% block content %}
<section class="contact" style="margin-top: 83px;">
    <div class="box-container">
        <div class="info">
            <h1 class="heading">
                Contact <span>info</span>
            </h1>
            <hr>
            <p>Phone: 2687 7808 </p>
            <p>Email: <a href="">grocomart77@gmail.com</a></p>
            <p>Hours of operation: 8am-6pm Mon-Sat </p>
            <p>Grocomart .inc,</p>
            <p>450 powai,</p> 
            <p>Mumbai 400079.</p> 
            </p>
            <hr>
            <p>Have any query, Feel free to email us at <a href="">grocomart77@gmail.com</a></p>
            <p>or</p>
            <p>Contact us through email form.</p>
        </div>
        <div class="email-form">
            <h1 class="heading">Email <span>form</span></h1>
            <hr>
            <p>we want to hear from you. please fill out above form</p>
            <form action="" method="post">
                {% csrf_token %}
                <div class="inputBox">
                    <input type="text" placeholder="Name" name="name" required><br>
                    <input type="email" placeholder="Email" name="email" required><br>
                    <input type="text" placeholder="Subject" name="subject" required>
                </div>
        
                <textarea placeholder="Message" id="" cols="30" rows="10" name="message" required></textarea>
                <!-- {% for field in contact_form %}
                <p>
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
                    </p>
                {% endfor %}
                {% if contact_form.non_field_errors %}
                <div style="color: red">
                    <p>{{contact_form.non_field_errors | striptags}}</p>
                </div>
                {% endif %} -->
                <button type="submit" class="btn">send message</button>
        
            </form>
        </div>
    </div>
</section>
{% endblock content %}