{% extends "app/base.html" %}
{% load static %}

{% block content %}
<!-- home  -->

<section class="home" id="home" style="margin-top: 83px;">

    <div class="image">
        <img src={% static 'images/home.jpg' %} alt="">
    </div>

    <div class="content">
        <span>fresh and healthy</span>
        <h3>your daily need products</h3>
        <a href={% url 'products' %} class="btn">get started</a>
    </div>

</section>

<!-- category  -->

<section class="category" id="category">

<h1 class="heading">shop by <span>category</span></h1>

<div class="box-container">

    
    <div class="box">
        <h3>dairy</h3>
        <p>upto 44% off</p>
        <a href="{% url 'category' %}dairy"><img src={% static 'images/dairy.jpg' %} alt=""></a>
        <a href="{% url 'category' %}dairy" class="btn">shop now</a>
    </div>
    
    <div class="box">
        <h3>vegitables</h3>
        <p>upto 50% off</p>
        <a href="{% url 'category' %}vegetables"><img src={% static 'images/vegetable.jpg' %} alt=""></a>
        <a href="{% url 'category' %}vegetables" class="btn">shop now</a>
    </div>
    <div class="box">
        <h3>fruits</h3>
        <p>upto 12% off</p>
        <a href="{% url 'category' %}fruits"><img src={% static 'images/fruits.jpg' %} alt=""></a>
        <a href="{% url 'category' %}fruits" class="btn">shop now</a>
    </div>
    <div class="box">
        <h3>grains</h3>
        <p>upto 20% off</p>
        <a href="{% url 'category' %}grains"><img src={% static 'images/grains.jpg' %} alt=""></a>
        <a href="{% url 'category' %}grains" class="btn">shop now</a>
    </div>
    <div class="box">
        <h3>pulses</h3>
        <p>upto 25% off</p>
        <a href="{% url 'category' %}pulses"><img src={% static 'images/pulses.jpg' %} alt=""></a>
        <a href="{% url 'category' %}pulses" class="btn">shop now</a>
    </div>
    <div class="box">
        <h3>snacks</h3>
        <p>upto 40% off</p>
        <a href="{% url 'category' %}snacks"><img src={% static 'images/snacks.jpg' %} alt=""></a>
        <a href="{% url 'category' %}snacks" class="btn">shop now</a>
    </div>
    <div class="box">
        <h3>edible oils</h3>
        <p>upto 15% off</p>
        <a href="{% url 'category' %}edible oils"><img src={% static 'images/edible-oils.jpg' %} alt=""></a>
        <a href="{% url 'category' %}edible oils" class="btn">shop now</a>
    </div>
    <div class="box">
        <h3>biscuits</h3>
        <p>upto 46% off</p>
        <a href="{% url 'category' %}biscuits"><img src={% static 'images/biscuits.jpg' %} alt=""></a>
        <a href="{% url 'category' %}biscuits" class="btn">shop now</a>
    </div>
</div>

</section>

<!-- product  -->

<section class="product" id="product" >

    <h1 class="heading">latest <span>products</span></h1>
    
    <div class="box-container">

        {% for product in products %}
        <div class="box">
            <span class="discount">-{{product.get_discount|floatformat:0}}%</span>
            <a href={% url 'products' %}{{product.id}} data-title="{{product.name}}"><img src={{product.imageUrl}} alt=""></a>
            <h3>{{product.name}}</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price"> ₹{{product.d_price|floatformat:2}} /{{product.unit}} <br><span> ₹{{product.o_price|floatformat:2}} /{{product.unit}}</span> </div>
            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="1000" value="1" readonly>
            </div>
            <a  class="btn update-cart" data-product="{{product.id}}" data-action="add">add to cart</a>
        </div>
          
        {% endfor %}
        
    </div>
</section>
<!-- review section starts  -->

<section class="review" id="review">
    
    <h1 class="heading"> customer's <span>review</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src={% static 'images/user1.jpg' %} alt="">
            <h3>Jean Kirstein</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <p class="text">Looking at previous reviews I was scared to order itself. I use regularly amazon and bigbasket. I wanted give a try grocomart small quantities. But to my surprise veggies and fruits were very fresh. Tender coconut was looking like just plucked from tree. Prices are too comparatively low even for small quantities.

                .. From now onwards I will shift to grocomart for sure</p>
        </div>

        <div class="box">
            <img src={% static 'images/user2.jpg' %} alt="">
            <h3>sahsa blouse</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <p class="text">I have purchase onion , tomatoes , oats and brinjal from Jio mart . I have seen very very big discount in the rate of many products in grocomart application. The delivery service is also good. I bought the products yesterday. I hope the products are reached from kodungallur market. The quality of the products is also excellent. </p>
        </div>

        <div class="box">
            <img src={% static 'images/user3.jpg' %} alt="">
            <h3>Connie Springer</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <p class="text">Product was very beautiful design for selling and design for making are carried on by different people in different departments, it is the job of . If your competitor comes out with a very beautiful product.</p>
        </div>

    </div>

</section>
{% endblock content %}