{% extends "app/base.html" %}
{% load static %}
{% block content %}

<section class="product" id="product" style="margin-top: 83px;">

    <div class="search-container">
    <input type="text" placeholder="Search essentials, groceries, and more …" id="search">
    <button class="btn">search</button>
    </div>
    <h1 class="heading"><span>products</span></h1>
    <div id="msg"></div>
    
    <div class="box-container" id="contain">

        {% for product in products %}
        <div class="box">
            <span class="discount">-{{product.get_discount|floatformat:0}}%</span>
            <a href={% url 'products' %}{{product.id}} data-title="{{product.name}}" ><img src={{product.imageUrl}} alt="" ></a>
            <h3>{{product.name}}</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price"> ₹{{product.d_price|floatformat:2}} /{{product.unit}} <br>
            <span> ₹{{product.o_price|floatformat:2}} /{{product.unit}} </span> </div>
            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="1000" value="1" readonly>
            </div>
            <a class="btn update-cart" data-product="{{product.id}}" data-action="add">add to cart</a>
        </div>
          
        {% endfor %}
        
    </div>
</section>
<script>
    let filter_input = document.getElementById('search')

    filter_input.addEventListener('keyup', () =>{
        let filter_value = filter_input.value.toUpperCase();
        let container = document.getElementById('contain')
        let box = container.querySelectorAll('div.box');

    for(let i =0; i < box.length; i++){
        let n = box[i].getElementsByTagName('h3')[0];
        if(n.innerHTML.toUpperCase().indexOf(filter_value) > -1){
            box[i].style.display = '';
        }
        else{
            box[i].style.display = 'none';
        }
    }
    
    })

</script>
{% endblock content %}